.error {
    color: white;
    background-color: red;
}

.ais-RefinementList-searchBox {
    @apply py-2
}
.ais-RefinementList-searchBox form {
    position: relative ;
}

.ais-RefinementList-searchBox button {
    @apply absolute top-0 end-0 p-2.5 h-full text-sm font-medium text-white bg-blue-700 rounded-e-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
}
.ais-RefinementList-searchBox input {
    @apply block w-full text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}

.ais-RefinementList-item, .ais-ToggleRefinement-label {
    @apply flex items-start
}

.ais-RefinementList-item .ais-RefinementList-checkbox, .ais-ToggleRefinement-label .ais-ToggleRefinement-checkbox  {
    @apply  text-sm font-medium text-blue-600 dark:text-gray-300
}

.ais-RefinementList-item .ais-RefinementList-labelText, .ais-ToggleRefinement-label .ais-ToggleRefinement-labelText {
    @apply ms-2 text-sm font-medium text-gray-600 dark:text-gray-300
}

.ais-RefinementList-item .ais-RefinementList-count {
    @apply ms-2 text-sm font-medium text-gray-900 dark:text-gray-300
}

.ais-RefinementList-showMore {
    @apply bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded 
}

.ais-ToggleRefinement-label {
    @apply py-2
}

/*

<li class="ais-RefinementList-item">
    <label class="ais-RefinementList-label">
    <input class="ais-RefinementList-checkbox" type="checkbox" value="COGNIZANT TECHNOLOGY SOLUTIONS US CORP">
    <span class="ais-RefinementList-labelText">COGNIZANT TECHNOLOGY SOLUTIONS US CORP</span>
    <span class="ais-RefinementList-count">49160</span>
</label></li>

<div class="flex items-start mb-6">
        <div class="flex items-center h-5">
        <input id="remember" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800" required>
        </div>
        <label for="remember" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">I agree with the <a href="#" class="text-blue-600 hover:underline dark:text-blue-500">terms and conditions</a>.</label>
    </div>
<form>   
    <label for="search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
    <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
        </div>
        <input type="search" id="search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search" required>
        <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
    </div>
</form>
*/