.error {
    color: white;
    background-color: red;
}

.ais-RefinementList-searchBox {
    @apply py-2
}
.ais-RefinementList-searchBox form {
    position: relative ;
}

.ais-RefinementList-searchBox input {
    @apply block w-full text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}

.ais-RefinementList-searchBox button {
    @apply absolute top-0 end-0 h-full p-2.5 text-sm font-medium text-white bg-blue-700 rounded-e-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
}

.ais-RefinementList-item, .ais-ToggleRefinement-label {
    /* @apply  */
}

.ais-RefinementList-item .ais-RefinementList-checkbox, .ais-ToggleRefinement-label .ais-ToggleRefinement-checkbox  {
    /* @apply  text-sm font-medium text-blue-600 dark:text-gray-300 */
    @apply w-4 h-4 border-gray-300 text-blue-600 rounded dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500
}

.ais-RefinementList-label {
    @apply flex justify-between
}

.ais-RefinementList-item .ais-RefinementList-labelText, .ais-ToggleRefinement-label .ais-ToggleRefinement-labelText {
    /* @apply ms-2 text-sm font-medium text-gray-600 dark:text-gray-300 */
    @apply mx-2 text-sm font-medium text-gray-900 dark:text-gray-100 truncate
}

.ais-RefinementList-item .ais-RefinementList-count {
    @apply ms-2 text-sm font-medium text-gray-600 dark:text-gray-300 ml-auto
}

.ais-RefinementList-showMore {
    @apply bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded 
}

.ais-ToggleRefinement-label {
    @apply py-2
}

.ais-Pagination-item {
    @apply text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white
}

.ais-Pagination-item--selected {
    @apply bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white
}

.ais-Pagination-link {
    @apply flex items-center justify-center px-3 h-8 leading-tight
}

.ais-Stats {
    @apply text-sm mb-2 md:mb-0
}

.ais-Hits {
    @apply py-5
}

.ais-Hits-list {
    @apply grid gap-1 flex grid-cols-2 md:grid-cols-3 lg:grid-cols-4
}

.ais-Hits-item{
    /* @apply border-solid border-2 border-gray-300 rounded-md p-2 */
}