@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}






.slider-root {
  position: relative;
  display: flex;
  align-items: center;
}

.slider-track {
  position: relative;
  flex-grow: 1;
  background-color: #dfe2ee;
  height: 3px;
  border-radius: 9999px;
}

.slider-range {
  position: absolute;
  background-color: #3a4570;
  height: 100%;
}

.slider-thumb {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #c4c8d8;
  box-shadow: 0 2px 5px 0 #e3e5ec;
  border-radius: 9999px;
}

.slider-thumb:after {
  position: absolute;
  top: 1.5rem;
  content: attr(aria-valuenow);
  font-size: 0.8rem;
}

.slider-thumb[aria-label='Minimum']:after {
  left: 0;
}

.slider-thumb[aria-label='Maximum']:after {
  right: 0;
}


.search-panel {
  display: flex;
}

.search-panel__filters {
  flex: 1;
  margin-right: 2rem;
}

.search-panel__results {
  flex: 3;
}

.searchbox {
  margin-bottom: 2rem;
}

.pagination {
  margin: 2rem auto;
  text-align: center;
}

.ais-RefinementList {
  margin-bottom: 2rem;
}
